@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jersey+25+Charted&display=swap');


@media screen and (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1%;
        padding-right: 8%;
        height: 26vh;
        font-family: "Briem Hand", cursive;
        font-weight: bold;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 15px 10px 8px 5px #888888;
    }
    
    .container h2 {
        padding-right: 72%;
    }

    .form-group input {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 105%;
    }

    form button {
        width: 172%;
        color: white;
        padding: 5%;
        background-color: blue;
        border-radius: 5px;
    }

    button:hover {
        box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
        cursor: pointer;
    }

   form input {
    padding-top: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
   }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #faead7;
    }
}
