
@media screen and (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 40vh;
        background-color: white;
        border: 2px solid black;
    }
    
    .container h2 {
        margin-right: 23%;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #faead7;
    }
}
